<section>
  <div class="person--portrait">
    <div (click)="toggleGameStart()" *ngIf="PersonInputStream.portrait" [style.background-image]="PersonInputStream.portrait[0].url | toUrl | trust" [style.width]="PersonInputStream.portrait[0].width" [style.height]="PersonInputStream.portrait[0].height" class="mdl-card mdl-shadow--2dp slide--portrait">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions"></div>
    </div>
    <div class="portrait--gameoverlay">
      <i class="material-icons">landscape</i>
      <i class="icon--caption">enter</i>
    </div>
    <div *ngIf="PersonInputStream.dataTiles && PersonInputStream.dataTiles.length > 0" class="mdl-card mdl-shadow--2dp slide--portrait-text">
      <span [innerHTML]="PersonInputStream.dataTiles[0].short_text" class="person--shorttext"></span>
      <span [innerHTML]="PersonInputStream.dataTiles[0].long_text"></span>
      <table *ngIf="Sources" class="mdl-data-table mdl-js-data-table table--sources">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Referenz</th>
            <th class="mdl-data-table__cell--non-numeric">Quelle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of keys(); let i=index">
            <td class="mdl-data-table__cell--non-numeric">{{data}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{Sources[data]}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions"></div>
    </div>
    <header>
      <h1>{{PersonInputStream.firstname}} {{PersonInputStream.lastname}}</h1>
      <h3 class="person--dates">
      <span>{{BirthDate}}</span><span>&nbsp;-&nbsp;{{DeathDay}}</span>
      </h3>
      <h2>{{PersonInputStream.caption}}</h2>
      <div class="person--chips">
        <template [ngIf]="PersonInputStream.chips">
        <span *ngFor="let chip of PersonInputStream.chips;"
          class="mdl-chip mdl-chip--contact slide--chips">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{chip.letter}}</span>
          <span class="mdl-chip__text">{{chip.text}}</span>
        </span>
        </template>
      </div>
    </header>
  </div>

  <app-game [RawGameDisplayData]="PersonInputStream" *ngIf="GameStarted === true"></app-game>
  <main>
      <div *ngFor="let slide of PersonInputStream.imageTiles" [style.background-image]="slide.url | toUrl | trust" [style.width]="slide.width" [style.height]="slide.height" class="mdl-card mdl-shadow--2dp slide--imagetile">
        <div class="mdl-card__supporting-text slide--bottom">{{slide.caption}} <strong><a target="_blank" href={{slide.source}}>(source)</a></strong></div>
        <div class="mdl-card__actions mdl-card--border"></div>
     </div>
  </main>
</section>
