<section>
  <h1>{{PersonInputStream.vorname}} {{PersonInputStream.nachname}}</h1>
  <h2>{{PersonInputStream.caption}}</h2>
  <template [ngIf]="PersonInputStream.chips">
    <span *ngFor="let chip of PersonInputStream.chips;"
          class="mdl-chip mdl-chip--contact slide--chips">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{chip.letter}}</span>
          <span class="mdl-chip__text">{{chip.text}}</span>
    </span>
  </template>
  <main>
    <div *ngIf="PersonInputStream.portrait" [style.background-image]="PersonInputStream.portrait.url | trust"
      [style.width]="PersonInputStream.portrait.width"
      [style.height]="PersonInputStream.portrait.height"
      class="mdl-card mdl-shadow--2dp slide--float">

      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
      </div>
    </div>
        <div *ngFor="let slide of PersonInputStream.slides;">
        <!--<span *ngFor="let slide of PersonInputStream.slides;"
          [ngSwitch]="slide.type">-->

            <div *ngIf="slide.type=='DataTile'" class="mdl-card slide--additional mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand">
                {{slide.payload}}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  More Info
                </a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">link</i>
              </div>
            </div>
            <div *ngIf="slide.type=='ImageTile'" [style.background-image]="slide.src.url | trust"
                 [style.width]="slide.src.width"
                 [style.height]="slide.src.height"
                 class="mdl-card mdl-shadow--2dp slide--float">

                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions"></div>
            </div>
        </div>
        <!--</span>-->
  </main>
</section>
