<button id="btn--menu" (click)="menuClicked=!menuClicked" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">view_headline</i>
</button>
<button id="btn--cms" (click)="go('http://google.com')" [class.btn--cms]="menuClicked" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip" data-mdl-for="btn--cms">
edit information <br/>listed here
</div>
