header{
padding: 25px 0 0 25px;
font-family: Monoton;
}

button {
	position:absolute;
	top: 45px;
	right: 35px;
}

header p {
	font-size: 70px;
	line-height: 70px;
}

main{
	color:white;
	padding:10px;
}
